.best-seller {
  display: flex;
  justify-content: center;
  width: 100%;
}
.best-seller-box {
  width: 80%;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.best-seller-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  border-radius: 5px;
}
.best-seller-heading {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 54px;
  color: #fff;
  font-weight: 600;
}
