.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  margin-left: 50px;
  margin-right: 50px;
}
.header-introduction {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  font-size: 40px;
}
.header-text {
  color: #fff;
}
.header-bottom-left {
  display: flex;
  height: fit-content;
  width: 180px;
  justify-content: space-between;
}
.header-bottom-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  margin-top: 30px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-weight: 600;
}
.header-li {
  text-align: center;
  transition-duration: 0.05s;
  transition-property: "border";
}
.header-li:hover {
  border-bottom: solid 4px #fff;
}
.langAndCurrency {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.langAndCurrency select {
  border-radius: 5px;
}
.header-top-left {
  position: absolute;
  top: 25px;
  left: 20px;
}
.header-top-right {
  display: flex;
  position: absolute;
  top: 25px;
  right: 20px;
  align-items: center;
  height: 40px;
}
.burger-bar-opened {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: #000; */
}
.search {
  display: none;
}
