.shopbox-normal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 340px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 50px 25px;
}
.newPrice {
  color: #ff4858;
}
.oldPrice {
  font-size: 16px;
  margin-left: 10px;
  color: #c1c8ce;
}
.shop-box:hover {
  cursor: pointer;
}
.shop-box-images {
  margin: 20px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}
.shop-box-image {
  max-height: 135px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.shop-box-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #1976d2;
  text-align: center;
  height: 30px;
  font-weight: 500;
}
.shop-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.shop-box-button {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}
.shopbox-prices-normal {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.shopbox-normal-price {
  color: green;
}
